.credential-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.credential-table th {
    background-color: #f2f2f2;
}

.credential-table td, .credential-table th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.credential-table tbody tr {
    margin-bottom: 10px;
}